.navbar-default {
	background-color: #D6F49D;
	border: 0px solid transparent;
	border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #132F26;
}

.navbar-default .navbar-brand {
	color: #132F26;
}

body {
	background-color: #9CB273;
}