.navbar-light {
	background-color: #337AB7;
	border: 0px solid transparent;
	border-radius: 0px;
}

.navbar-light .navbar-nav>li>a {
    color: #E3F2FD;
}

.navbar-light .navbar-nav>li>a:hover {
    color: #337AB7;
    background-color: #E3F2FD;
}

#active {
	color: #337AB7;
    background-color: #E3F2FD;
}

.navbar-light .navbar-brand {
	color: #E3F2FD;
}

body {
	background-color: #E3F2FD;
}

.jumbotron {
	margin-top: 10%;
	background-color: #337AB7;
	color: #E3F2FD;
}